$regnad-color: #008057;

* {
    margin: 0rem;
    padding: 0rem;
}

body {
    background-color: $regnad-color;
}

.regnad-header {
    display: block;
    margin: {
        left: auto;
        right: auto;
        top: 1rem;
    }
    text-align: center;
    #header {
        display: inline-block;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 600%;
        margin: {
            left: 1rem;
        }
        vertical-align: middle;
        font-weight: lighter;
        text-shadow: 0.2rem 0.2rem 0rem rgba(0, 0, 0, 1);
    }
    img {
        width: 8rem;
        display: inline-block;
        vertical-align: middle;
    }
}